<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
  <label>Song title:</label><br>
  <%= f.text_field :title %><br>

  <label>Release_year:</label><br>
  <%= f.text_field :release_year %><br>

  <label>Released:</label><br>
<<<<<<< HEAD
  <%= f.check_box :released %><br>
=======
  <%= f.text_field :released %><br>
>>>>>>> bc67f9e0f92e5096fd75c8168bb2301c39a309a9

  <label>Genre:</label><br>
  <%= f.text_field :genre %><br>

  <label>Artist Name:</label><br>
  <%= f.text_field :artist_name %><br>

  <%= f.submit %>
<% end %>
